*~
Rules.depend
obj/

*.o
*.so
*.dll
*.exe
*.a
tests/test_*
!tests/test_*.cpp
!tests/test_*.h
tests/bench_*
!tests/bench_*.cpp
!tests/bench_*.h
tmp/
*.gcda
*.gcno
*.gcov
coverage.info
tests/coverage_report/
