*~
Rules.depend
zlib/Makefile

*.o
*.so
*.dll
*.exe
*.a
zlib/example
zlib/minigzip
tests/test_*
!tests/test_*.cpp
!tests/test_*.h
tests/bench_*
!tests/bench_*.cpp
!tests/bench_*.h
zlib/configure.log
zlib/zlib.pc
tmp/
